body {
  margin: 0;
 
}
.font{ 
 
  font-family: 'Phudu', cursive;
  font-size: 15px;

 
}
.color-body{
  height: 100vh;
}
.font-arb {
  font-family: 'Cairo', sans-serif;

}
.btn-style{
  padding: 8px;
  color: white;
  background-color: #224f61;
  border: none;
  border-radius: 8px;
}